* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    font-size:14px;
    line-height:1.42857143;
    color:#333;
    background-color:#fff;
}

/*NAVBAR STYLING*/
#navlogo {
    height:65px;
    margin: 0;
}

.navbar-right {
    vertical-align: middle;
    font-size: 150%;
    padding-top: 1%;
}

.navbar .navbar-default {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,1);
    margin:0;
}

/*INTRO BLOCK*/
.intro-header{
    text-align:center;
    background:url('https://static.pexels.com/photos/501123/pexels-photo-501123.jpeg') no-repeat center top;
    background-size: cover;
}

.intro-header .jumbotron {
    margin:0;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    padding-bottom:12%;
    padding-top:12%;
}


.intro-header h1 {
    margin: 0;
    padding: 1% 0% 3% 0%;
}

#intro-comment {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #959396;
    margin:0;
}

#intro-btn {
    padding: 1% 10% 1% 10%;
}

hr {
    width: 10px;
}

@media (max-width:991px) {
    .intro-header .jumbotron {
        border-radius:20px;
        padding:10% 0 10% 0;
    }
}

.form-control {
    /*max-width:70%;*/
    text-align:center;
    border-radius:10px;
    display:inline-block;
    margin:1%;
}

#customButton {
    margin: 2%;
    padding: 1% 10% 1% 10%;
}

/*INFO STYLING*/
.info {
    padding: 5% 0 5% 0;
    background-color: #ffffff;
    color: #000000;
    font-size:18px;
}

.info h1 {
    padding: 0 0 1% 0;
    text-align:center;
}

.info .thumbnail {
    border: 0 none;
    box-shadow: none;
}

#process {
    margin:3%;
}

.line {
    background-color: red ;
    height: 2px !important;
    width: 50px !important;
}

.process-comments {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #959396;
}


@media (max-width:767px) {
    .row.process-steps {
        font-size:10px;
        margin-bottom:20px;
    }
}

.most-popular h1 {
    text-align:center;
    padding:2%;
}

@media (max-width:767px) {
    .most-popular h3 {
        font-size:12px;
        margin-bottom:20px;
    }
}

.newsletter {
    background:url('https://static.pexels.com/photos/492755/pexels-photo-492755.jpeg') no-repeat center center;
    background-size: cover;
}

.newsletter-frame {
    align-content:center;
    text-align:center;
    background-color:rgba(0,0,0,0.5);
    color:white;
    font-style:italic;
    padding:5%;
}

.newsletter h2 {
    color:white;
    font-style:italic;
}

.web-app {
    padding-top:5%;
}

.web-app hr {
    background-color: #b9b9b7;
    color:#b9b9b7;
    width:95%;
    height:1px;
    margin:0 0 5% 0;
}

#web-app-title {
    font-family: 'Bitter', serif;
    font-weight: bolder;
    padding: 20% 0 0 0;
}

.web-app .fa {
    border: solid #202020 1px;
    background-color: #404040;
    font-size: 20px;
    color:white;
    border-radius: 100px;
    padding:2%;
    margin: 0 1% 0 1%;
}

@media (max-width: 600px){
    .panel-default {
        margin-top:20%;
    }
}

.panel-default {
    margin-top:15%;
}

@media (max-width: 600px){
    .panel-default {
        margin-top:20%;
    }
}

.confirmation {
    background:url('https://static.pexels.com/photos/34577/pexels-photo.jpg') no-repeat center top;
    background-size: cover;
    text-align:center;
}

.confirmation-message {
    background-color:rgba(255,255,255,0.5);
    margin-top:20%;
    margin-bottom:10%;
    padding: 10% 5% 10% 5%;
}

@media (max-width: 600px){
    .confirmation-message {
        margin-top:20%;
    }
}

.img-responsive {
    width:400px;
    height:300px;
    background-size: cover;
    transition:opacity 200ms;
    background-position:50% 50%
}

.footer {
    background-color: rgb(68, 68, 62);
}

.main {
    margin: 0 auto -60px;
}
.main .img-responsive {
    margin-bottom: 30px;
}

.most-popular {
    text-align:left;
    background-color: #fff1ff;
}

.careers{
    background-color: #fbfbfb;
}

#ShopWithUs, #JoinSwift, #BecomeSwift {
    border:1px solid dodgerblue;
    background-color: white;
    text-align: center;
    margin-bottom:1%;
    padding-bottom: 1%;
}

.btn-danger {
    padding-bottom: 1%;
}

.thumbnail img {
    height:250px;
    width:100%;
}

#payment-form {
    margin-top:50%;
}

footer {
    background-color:#292c2f;
    box-shadow:0 1px 1px 0;
    box-sizing:border-box;
    width:100%;
    text-align:left;
    font:bold 16px sans-serif;
    padding:55px 50px;
    /*margin-top:80px;*/
    bottom:0;
    color:#fff;
}

.footer-navigation h3 {
    margin:0;
    font:normal 36px Cookie, cursive;
    margin-bottom:20px;
    color:#fff;
}

.footer-navigation h3 a {
    text-decoration:none;
    color:#fff;
}

.footer-navigation h3 span {
    color:#5383d3;
}

.footer-navigation p.links a {
    color:#fff;
    text-decoration:none;
}

.footer-navigation p.company-name {
    color:#8f9296;
    font-size:14px;
    font-weight:normal;
    margin-top:20px;
}

@media (max-width:767px) {
    .footer-contacts {
        margin:30px 0;
    }
}

.footer-contacts p {
    display:inline-block;
    color:#ffffff;
    vertical-align:middle;
}

.footer-contacts p a {
    color:#5383d3;
    text-decoration:none;
}

.fa.footer-contacts-icon {
    background-color:#33383b;
    color:#fff;
    font-size:18px;
    width:38px;
    height:38px;
    border-radius:50%;
    text-align:center;
    line-height:38px;
    margin:10px 15px 10px 0;
}

span.new-line-span {
    display:block;
    font-weight:normal;
    display:block;
    font-weight:normal;
    font-size:14px;
    line-height:2;
}

.footer-about h4 {
    display:block;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    margin-bottom:20px;
}

.footer-about p {
    line-height:20px;
    color:#92999f;
    font-size:13px;
    font-weight:normal;
    margin:0;
}

div.social-links {
    margin-top:20px;
    color:#fff;
}

.social-links a {
    display:inline-block;
    width:35px;
    height:35px;
    cursor:pointer;
    background-color:#33383b;
    border-radius:2px;
    font-size:20px;
    color:#ffffff;
    text-align:center;
    line-height:35px;
    margin-right:5px;
    margin-bottom:5px;
}

#promo{
    margin:0;
}

#about-img {
    ;
}

#about-img-message {
    padding:7%;
    background-color: rgb(193, 198, 255);
    font-size: 1%;
}

#about-img-message {
    color:white;
}

#about-quote {
    background: url('https://static.pexels.com/photos/28094/pexels-photo-28094.jpg') no-repeat center center;
    background-size: cover;
    padding:10%;
}

.well-lg {
    background-color: rgb(245, 245, 245);
}

.favourite-img {
    border-color: rgba(0,0,0,0);
}
.whats-hot {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

@media (max-width:767px) {
    .whats-hot h4 {
        font-size: 80%;
        text-align: center;
    }

    #pic1 {
        padding: 100% 10% 1% 10%;
    }
}

#pic1 {
    background: url('http://www.mcdonalds.co.uk/content/dam/mcdonaldsuk/item/live/mcdonalds-Week-7-8-The-Tennessee-Stack.png') no-repeat center bottom;
    background-size: cover;
    padding:40%;
    margin-top:10%;
    margin-bottom:0;
 }

#pic2 {
    background: url('http://www.mcdonalds.co.uk/content/dam/mcdonaldsuk/item/live/mcdonalds-The-Ranch-California-Chicken.png') no-repeat center bottom;
    background-size: cover;
    padding:40%;
    margin-bottom:0;
}

.del-input {
    border: none;
    outline: none;
}

#delivery_items {
    padding: 2% 0 2% 0;
}


#SS-btn {
    padding:2% 7% 2% 7%;
}

.about-message {
    background: url('https://static.pexels.com/photos/264507/pexels-photo-264507.jpeg') no-repeat center;
    background-size:cover;
}

.about-message .container {
    background: white;
    padding: 1% 5% 1% 5%;
}

/*Stores Nav Tabs and JS*/

ul.nav-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: solid dodgerblue 2px;
    background-color: white;
}

ul.nav-tabs li {
    background: none;
    color: #226bff;
    display: inline-block;
    cursor: pointer;
}


.stores-content {
    display:block;
    background: #ffffff;
    padding: 1% 2% 2% 2%;
    margin: 10% 0 5% 0;
}

.stores-content .thumbnail {
    border: 0 none;
    box-shadow: none;
}

.stores-img {
    background: rgb(78, 137, 245);
    padding:0;
    margin:0;
}

.stores-intro {
    padding:7% 0 3% 0;
    color:white;
    margin:0;
    background-color: rgba(0,0,0,0.5);
}

@media (max-width:767px) {
    .stores-intro {
        padding:20% 0 2% 0;
        color:white;
        margin:0;
        background-color: rgba(0,0,0,0.5);
    }
}

.stores-background {
    background: url('https://images.pexels.com/photos/479190/pexels-photo-479190.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center center;
    background-size: cover;
}

.stores-title {
    font-family: 'Alegreya Sans SC', sans-serif ;
    font-weight: lighter;
    padding-left:2%;
    color: #1477ff;
}

/*OUR STORES*/

.blog-intro {
    background: url(https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat bottom center;
    background-size: cover;
}

.blog-message {
    background-color: rgba(0,0,0,0.7);
    padding-top: 1%;
    padding-bottom: 1%;
    color:white;
}

#blog-logo {
    margin:0;
    padding:0;
}

.blog-navbar {
    background-color: #343434;
}

.blog-navbar ul {
    list-style-type: none;
    margin: 0;

    padding: 1% 0 1% 0;
}

.blog-navbar li {
    display: inline;
    padding: 5%;
    font-size: 20px;
    text-decoration: none;
}

.blog-navbar a {
    text-decoration: none;
    color:white;
}

.blog-hr {
    width: 250px;
    height: 1px;
    color:red;
    background-color: red;
    margin-top: 2%;
}

.blog-author {
    font-family: 'Kalam', cursive;
}

.blog-posts .thumbnail {
    background-color: #f7f7f7;
}

@media (max-width:1025px) {
    .thumbnail h3 {
        font-size: 30px;
    }

    .thumbnail h6 {
        font-size: 25px;
    }

    .blog-author {
        font-size: 10px;
    }

    .blog-date {
        font-size: 20px;
    }

    .blog-time{
        font-size: 20px;
    }
}

@media (max-width:767px) { /*Everything smaller than iPad*/
    .thumbnail h3 {
        font-size: 15px;
    }

    .thumbnail h6 {
        font-size: 10px;
    }

    .blog-hr {
        width:50px;
        margin-top:0;
        margin-bottom:0;
    }

    .blog-author {
        font-size: 5px;
    }

    .blog-date {
        font-size: 10px;
    }

    .blog-time{
        font-size: 10px;
    }

    .blog-posts .thumbnail {
        background-color: #ffffff;
    }
}

#blog-para {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #b4b2b5;
}

.blog-body .thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-bottom: 0;
}

.blog-body .img-responsive {
    margin-bottom: 0;
}

.blog-body h4 {
    font-family: 'Spectral', serif;
}

.fashion-intro {
    background: url(https://i.ytimg.com/vi/aMZx2C8YDsU/maxresdefault.jpg) no-repeat top center;
    background-size: cover;
}

.other-intro {
    background: url(http://wdyt.org.uk/wp-content/uploads/2016/10/gloucester-high-street-e1493822265120.jpg) no-repeat top center;
    background-size: cover;
}

.order-message {
    background-color: rgba(0,0,0,0.7);
    padding-top: 10%;
    padding-bottom: 10%;
    color:white;
}

.price {
    font-size:20px;
    font-weight: bold;
    padding: 1% 0% 0 5%;
}

